<h2>AudioContext monkeypatch</h2>
<wac-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->if (window.hasOwnProperty('webkitAudioContext') &&
        !window.hasOwnProperty('AudioContext')) &lbrace;
    window.AudioContext = webkitAudioContext;
&rbrace;<!-- htmlmin:ignore --></wac-prism
>
<ul>
    <li>generally avoid assigning something to the global scope</li>
</ul>
<span>
    <a href="https://github.com/cwilso/AudioContext-MonkeyPatch">https://github.com/cwilso/AudioContext-MonkeyPatch</a>
</span>
