<h2>Reimplementing the new API</h2>
<wac-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->if (!audioBufferSourceNode.start) &#123;
    audioBufferSourceNode.start = (when, offset, duration) =&gt; &#123;
        if (offset || duration) &#123;
            audioBufferSourceNode.noteGrainOn(
                when || 0,
                offset,
                duration
            );
        &#125; else &#123;
            audioBufferSourceNode.noteOn(when || 0);
        &#125;
    &#125;;
&#125;<!-- htmlmin:ignore --></wac-prism>
