<h2>Implementing the new API</h2>
<wac-prism language="javascript" ngPreserveWhitespaces
    ><!-- htmlmin:ignore --><!-- prettier-ignore -->if (!audioBufferSourceNode.start) &lbrace;
    audioBufferSourceNode.start = (when, offset, duration) =&gt; &lbrace;
        if (offset || duration) &lbrace;
            audioBufferSourceNode.noteGrainOn(
                when || 0,
                offset,
                duration
            );
        &rbrace; else &lbrace;
            audioBufferSourceNode.noteOn(when || 0);
        &rbrace;
    &rbrace;;
&rbrace;<!-- htmlmin:ignore --></wac-prism
>
