<h2>Noiseless Web Audio tests Workshop</h2>
<div class="wrapper">
    <svg version="1.1" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 -35 l 150 75 h 100 l 200 -100"></path>
        <text font-size="30" text-anchor="middle" x="200" y="70">SPÄTI</text>
        <path d="M 0 0 l 150 75 h 100 l 200 -100"></path>
        <!-- left window -->
        <path d="M 40 40 l 80 40 v 60 l -80 -40 z"></path>
        <!-- door -->
        <path d="M 160 215 v -120 h 80 v 120"></path>
        <!-- right window -->
        <path d="M 280 80 l 80 -40 v 60 l -80 40 z"></path>
        <path d="M 0 140 l 150 75 h 100 l 200 -100"></path>
        <path d="M 0 200 l 200 100 l 200 -100"></path>
        <path d="M 50 225 v 10"></path>
        <path d="M 100 250 v 10"></path>
        <path d="M 150 275 v 10"></path>
        <path d="M 200 300 v 10"></path>
        <path d="M 250 275 v 10"></path>
        <path d="M 300 250 v 10"></path>
        <path d="M 350 225 v 10"></path>
        <path d="M 0 210 l 200 100 l 200 -100"></path>
        <path d="M 50 235 l -20 10"></path>
        <path d="M 100 260 l -20 10"></path>
        <path d="M 150 285 l -20 10"></path>
        <path d="M 200 310 l -20 10"></path>
        <path d="M 200 310 l 20 10"></path>
        <path d="M 250 285 l 20 10"></path>
        <path d="M 300 260 l 20 10"></path>
        <path d="M 350 235 l 20 10"></path>
        <path d="M 0 230 l 200 100 l 200 -100"></path>
        <g class="clickable grey" id="air-conditioning">
            <path d="M 280 25 l 10 5 v 35 l -10 -5 z"></path>
            <path d="M 280 25 l 80 -40 l 10 5 l -80 40 z"></path>
            <path d="M 290 30 l 80 -40 v 35 l -80 40 z"></path>
            <path d="M 300 35 l 60 -30"></path>
            <path d="M 300 40 l 60 -30"></path>
            <path d="M 300 45 l 60 -30"></path>
            <path d="M 300 50 l 60 -30"></path>
        </g>
        <g class="clickable" id="builder" x="300" y="300">
            <path class="blue" d="M 335 290 c 0 -13.808 -15.671 -25 -35 -25 c -19.33 0 -35 11.192 -35 25 v 25 h 15 v 35 h 10 v -35 h 20 v 35 h 10 v -35 h 15 V 290 z"></path>
            <path class="black" d="M 275 350 c 0 -4.141 3.358 -7.5 7.5 -7.5 s 7.5 3.359 7.5 7.5 H 275 z"></path>
            <path class="black" d="M 310 350 c 0 -4.141 3.358 -7.5 7.5 -7.5 s 7.5 3.359 7.5 7.5 H 310 z"></path>
            <rect class="black" height="10" x="290" y="310" width="20"></rect>
            <rect class="black" height="5" x="270" y="312.5" width="60"></rect>
            <path class="black" d="M 312.5 318.77 c 0 6.203 -5.597 11.23 -12.5 11.23 l 0 0 c -6.902 0 -12.5 -5.027 -12.5 -11.23 v -7.539 c 0 -6.203 5.598 -11.23 12.5 -11.23 l 0 0 c 6.903 0 12.5 5.027 12.5 11.23 V 318.77 z"></path>
            <rect class="black" height="25" x="297.5" y="325" width="5"></rect>
            <circle class="brown" cx="272.5" cy="315" r="7.5"></circle>
            <circle class="brown" cx="327.5" cy="315" r="7.5"></circle>
            <circle class="brown" cx="300" cy="255" r="15"></circle>
            <path class="yellow" d="M 317.5 255 c 0 2.762 -7.836 5 -17.5 5 c -9.666 0 -17.5 -2.238 -17.5 -5 H 317.5 z"></path>
            <path class="yellow" d="M 317.5 255 h -35 c 0 -9.665 7.835 -17.5 17.499 -17.5 C 309.664 237.5 317.5 245.335 317.5 255 z"></path>
        </g>
        <g class="clickable" id="truck">
            <path class="red" d="M 40 320 l 20 -10 v 20 l -20 10 z"></path>
            <path class="red" d="M 35 317.5 l 5 2.5 v 20 l -5 -2.5 z"></path>
            <path class="red" d="M 100 290 l 20 -10 v 20 l -20 10 z"></path>
            <path class="red" d="M 95 287.5 l 5 2.5 v 20 l -5 -2.5 z"></path>
            <path class="yellow" d="M 0 100 l 120 60 v 120 l -120 -60"></path>
            <path class="yellow" d="M 40 200 l 80 -40 v 120 l -80 40 z"></path>
            <path class="yellow" d="M 0 180 l 40 20 v 120 l -40 -20"></path>
        </g>
    </svg>
</div>
